/*------------------------------------------------- Main --------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

body {
   
    font-family: "Lato", sans-serif;
    background-color: #312c29;
    //background-color: gray;
}
/*------------------------------------------------- Navbar --------------------------------------------------*/

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.navbar {
    opacity: 0.9;
    z-index: 999;
    position: relative;
}
.gog-icon {
    width: 60px;
    height: 50px;
}

/*------------------------------------------------- Jumboron --------------------------------------------------*/

.jumbotron {
    background-image: url(https://images-2.gog-statics.com/5ce97da0951021729708b978b7a9c4559295aa6adbae8d3febd0dbf0cc4af880_takeover_bg_1366.webp);
    background-size: cover;
    height: 100%;
}

/*------------------------------------------------- Flash --------------------------------------------------*/
.flash span i,
strong {
    color: antiquewhite;
}
.icon {
    padding-right: 4px;
}
/*-------------------------------------------------carousel indicators  --------------------------------------------------*/
.carousel-indicators {
    position: relative;
    margin-bottom: -2em;
}

.carousel-indicators .active {
    background-color: rgb(163, 43, 163);
}
/*------------------------------------------------- flash card --------------------------------------------------*/
.card-border{
    border:green"
}

/*-------------------------------------------------badge--------------------------------------------------*/
.badge{
    position: absolute;
    margin-top: 0;
    margin-left: 0;
}
/*------------------------------------------------- lorem --------------------------------------------------*/
#lorem{
    color: bisque;
}
/*------------------------------------------------- Table --------------------------------------------------*/
.table{
    color: bisque;
}
/*-------------------------------------------------FOOTER-------------------------------------------------*/
footer{
    text-align: center;
}
/*-------------------------------------------------navbar--------------------------------------------------*/
